stage-direction{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color:purple;

}
.stage-direction:hover{
    background-color: darkkhaki;
    color: red;
}
.name{
    color: black;
    font: large;
    font-family: 'Times New Roman', Times, serif;
}

/*Speech styling*/
.phipps{
    color: blue;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.goring{
    color:pink;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Table styling*/
table{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    width: 50%;
}
th{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    text-align: center;
}
td {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    text-align: left;
}
tr{
    background-color:blue;
}
tr:nth-child(even){
    background-color: gold;
}