stage-direction{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color:purple;

}
.stage-direction:hover{
    background-color: darkkhaki;
    color: red;
}
.name{
    color: black;
    font: large;
    font-family: 'Times New Roman', Times, serif;
}

/*Speech styling*/
.phipps{
    color: blue;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.goring{
    color:pink;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}